* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    /* box-sizing: border-box; */
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    background-image: 
        url("../images/bg-pattern-top-desktop.svg"),
        url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;   
    background-position: 0% 0%, 100% 100%;
}
    
    .container {
        display: flex;
        flex-direction: column;
        width: 70vw;
    }
        .top-part-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }
            .text-container {
                width: 680px;
            }
                .h1-container {
                    font-size: 22px;
                    font-weight: 700;
                    color: hsl(300, 43%, 22%);
                    max-width: 350px;
                    margin-bottom: 20px;
                }
                .paragraph-container {
                    font-size: 15px;
                    color: hsl(303, 10%, 53%);
                    max-width: 450px;
                    line-height: 20px;
                }
            .reviews-container {
                
            }
                .review-container-one, .review-container-two, .review-container-three {
                    background-color: hsl(300, 24%, 96%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 25px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    width: 400px;
                    border-radius: 5px;
                    float: right;
                } 
                .review-container-one {
                    margin-right: 80px;
                    margin-bottom: 15px;
                }
                .review-container-two {
                    margin-right: 40px;
                    margin-bottom: 15px;
                }
                .review-container-three {
                    margin-right: 0px;
                }
                    .review-text {
                        color: hsl(300, 43%, 22%);
                        font-weight: 700;
                    }
                    .stars-container {

                    }


        .bottom-part-container {
            display: flex;
            justify-content: space-between;
        }
            .card-one, .card-two, .card-three {
                background-color: hsl(300, 43%, 22%);
                width: 300px;
                height: 200px;
                border-radius: 10px;
            }
            .card-one {

            }
            .card-two {
                margin-top: 15px;
            }
            .card-three {
                margin-top: 30px;
            }
    
    footer {
        margin-top: 30px;
    }